*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Kumbh Sans' , sans-serif;
    src: url(https://fonts.google.com/specimen/Kumbh+Sans);
    font-weight: 400;
}
@font-face {
    font-family: 'Kumbh Sans' , sans-serif;
    src: url(https://fonts.google.com/specimen/Kumbh+Sans);
    font-weight: 700;
}
:root{
    /*Primary Text */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /* Background-gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /* Neutral Text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
    --White: hsl(0, 0%, 100%);
}
.container1{
    background-image:Linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    height: calc(100vh - 1px) ;
    position: relative;
}
.container2{
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--White);
    width: 1000px;
    height: 500px;
    margin-top: 150px;
    margin-left: 290px;
    border-radius:1.5rem ;
    -webkit-border-radius:1.5rem ;
    -moz-border-radius:1.5rem ;
    -ms-border-radius:1.5rem ;
    -o-border-radius:1.5rem ;
}
.part1{
    width: 500px;
    position: relative;
}
.one{
    position: absolute;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 400px;
    height: 645px;
}
.two{
    position: absolute;
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 400px;
    height: 360px;
    margin-top: 60px;
}
.two img{
    margin-top:135px;
    margin-left:-125px;;
}

.part2{
    margin-top: 50px;
    width: 435px;
}
.part2 h1{
    margin-bottom: 15px;
    font-size: 40px;
    color: var(--Very-dark-desaturated-blue);
}
.text{
    display: flex;
    flex-direction: row;
    position: relative;
}
.text span{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.text span:hover{
    color: var(--Soft-red);
}
.text img{
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
    width: 15px;
}
p{
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--Dark-grayish-blue);
}
.hide{
    display: none;
}